<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <div id="current-user" data-address="<%= user.address %>" ></div>
    <div id="current-room" data-room="<%= room %>" ></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 rooms-sidebar">
                <div class="card no-outline">
                    <div class="card-body" id="username-card">
                        <small>Logged in as</small><br>
                        <b><%= user.username %><br></b>
                        <small><%= user.address %></small>
                    </div>
                    <div class="card-footer" id="join-create">
                        <form action="/channels/new" method="get">
                            <input type="submit" value="Create Channel" class="btn btn-primary">
                        </form>
                        <br>
                        <form action="/search" method="get">
                            <input type="submit" value="Join Channel" class="btn btn-primary">
                        </form>
                    </div>
                </div>
                <hr>
                <hr>

                <% channels.forEach((channel) => { %>
                    <% var parsed_item = JSON.parse(channel.item_content) %>
                    <a href="/rooms/<%= channel.item_hash %>" class="room-link">
                        <div class="card no-outline mb-2 room-card <%= room == channel.item_hash ? 'active' : '' %>">
                            <div class="card-body">
                                <span class='name'><%= parsed_item.content.body %></span><br>
                                <span class='member-count'><small><%= channel.sender %></small></span><br>
                                <!-- <span class='member-count'>
                                    <small> x members</small>
                                </span> -->
                            </div>
                        </div>    
                    </a>
                <% }) %>

                
                
            </div>
            <div class="col-9">
                <div class="chat-room">
                    <nav class="navbar navbar-light" id="chat-navbar">
                        <span class="navbar-brand" href="#">
                            <b style="color:white">Messages</b>
                        </span>
                        <nav id="menu">
                            <ul>
                                <li id="navbar-option"><a href="/myaccount" style="color:white">My Account</a></li>
                                <li id="navbar-option"><a href="/mychannels" style="color:white">My Channels</a></li>
                                <li id="navbar-option"><a href="/logout" style="color:white">Logout</a></li>
                            </ul>
                        </nav>
                    </nav>
                    <% if(locals.posts){ %>
                    <div id="messages">
                        
                            <% posts.reverse().forEach((post) => { %>
                                <% var parsed_item = JSON.parse(post.item_content) %>
                                <% if(parsed_item.content.body){ %>
                                
                                    <div id="message-<%= post.item_hash %>" class="message mb-2 <%= parsed_item.address == user.address? 'me' : '' %>">
                                        <div class="content-container">
                                            <div class="content">
                                                <%= parsed_item.content.body %>
                                            </div>
                                            <div class="author">
                                                <%= parsed_item.address %>
                                            </div>
                                        </div>
                                    </div>

                                <% } %>
                            <% }) %>
                        
                    </div>
                    <div class="chat-box">
                        <form action="/messages/<%= room %>" method="post" id="message-form" enctype="multipart/form-data">
                            <div class="input-group">
                                <input type="text" name="message" id="message" cols="30" rows="10" class="form-control" style="color: white;"/>
                                <label for="filemessage"> 
                                    <img id="icon" src="../stylesheets/Untitled.jpeg">
                                </label>
                                <input type="file" name="filemessage" id="filemessage"/>
                                <div class="input-group-append">
                                    <input type="submit" value="Post Message" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="alert alert-info mt-4">
                            Choose a channel
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
      
    <script type="text/javascript">

        
        $(document).ready(()=>{
            
            const nestedElement=document.getElementById("messages");
            nestedElement.scrollTo(0, nestedElement.scrollHeight);
            function appendMessage(message){
                
                if(message.content.content.body!=undefined && isforChannel(message) && isNotOnPage(message)){
                    var user_address = $('#current-user').data('address')
                    var template = '<div class="message mb-2 '+ (user_address == message.content.address? "me" : "") +'">\
                                    <div class="content-container">\
                                        <div class="content">'+ message.content.content.body + '</div>\
                                        <div class="author">' + message.content.address + '</div>\
                                    </div>\
                                    </div>'
                    
                    $('#messages').append(template)
                    window.location.reload();
                    console.log(message)
                }
                
            }

            function isNotOnPage(message) {
                return $(`#message-${message.item_hash}`)[0] == undefined;
            }

            function isforChannel(message){
                return $('#current-room').data('room') == message.content.ref
            }


            const socket = new WebSocket('wss://api2.aleph.im/api/ws0/messages?msgType=POST&contentTypes=messages')
            socket.onmessage = (e) =>{
                let message = JSON.parse(e.data)
                console.log(message)
                appendMessage(message) 
            }


            $('#message-form').submit((e)=>{
                e.preventDefault();
                $.post('/messages/<%= room %>',$('#message-form').serialize())
                $('#message-form input[type=text]').val('')
                window.location.reload();
                
                var room = $('#current-room').data('room')
                const form = document.getElementById("message-form");

                const files = document.getElementById("filemessage");
                const formData = new FormData();
                formData.append("name", name.value);
                for(let i =0; i < files.files.length; i++) {
                    formData.append("filemessage", files.files[i]);
                }
                fetch(`http://localhost:3000/messages/${room}`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                    }
                })
                    .then((res) => console.log(res))
                    .catch((err) => ("Error occured", err));

                $('#message-form input[type=file]').val('')
            })

        })
    </script>
</body>
</html>